numpy
scipy
pandas
statsmodels

matplotlib
seaborn

opencv-python
pillow
scikit-image
nibabel
pydicom
pynetdicom
SimpleITK

ipython
ipykernel
jupyter
black[jupyter]
pylint
gitpython
nbconvert

torch
torchvision